#block-user-login {
    border-style: solid;
    border-width: 1px;
     border-color: #01ace4;
    padding: 2px 10px 10px 10px;

}

#block-system-user-menu {
      border-style: solid;
    border-width: 1px;
     border-color: #01ace4;
padding: 2px 10px 10px 10px ;

}