/* Show only to IE7 */
*:first-child+html .rounded-shadow-background,
/* Show only to IE6 */
* html .rounded-shadow-background  {
  margin: 0 -10px 0 0 !important;
  padding: 10px 0 5px 0 !important;
}

.rounded-shadow-top-edge, .rounded-shadow-bottom-edge, .rounded-shadow-left-edge, .rounded-shadow-right-edge, .rounded-shadow-wrap-corner {
  position: relative;
  /* hasLayout -1 ? For IE only */
  zoom: 1;
}
.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 {
  padding-top: 10px;
  margin-bottom: 30px;
  color: #e1220e;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 h2 {
  color: #ffffff;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-background {
  margin: 10px;
  background: #00AEF0 url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-background.png) repeat;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner {
  margin: -10px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-top-edge {
  top: -10px;
  background: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-top-edge.png) repeat-x 0 top;
  font-size: 1px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-bottom-edge {
  bottom: -10px;
  background: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-bottom-edge.png) repeat-x 0 bottom;
  font-size: 1px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-left-edge {
  background: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-left-edge.png) repeat-y 0 0;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-right-edge {
  background: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-right-edge.png) repeat-y right 0;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-top-edge,
.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-bottom-edge {
  height: 19px;
  margin: -10px 19px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-left,
.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-right {
  position: absolute;
  top: 0;
  height: 19px;
  width: 19px;
  margin: 0 -19px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-left {
  background-image: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-top-left-corner.png);
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-right {
  right: 0;
  background-image: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-top-right-corner.png);
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-bottom-edge .rounded-shadow-left {
  background-image: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-bottom-left-corner.png);
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-bottom-edge .rounded-shadow-right {
  right: 0;
  background-image: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-bottom-right-corner.png);
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .rounded-shadow-wrap-corner .rounded-shadow-right-edge {
  padding: 3px 19px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .panel-pane {
  position: relative; top: -6px;
}

/*
.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 div.admin-links {
  margin-top: -19px;
  margin-left: -12px;
}

.pane-rounded-shadow-temporary-528fb2951341a608e355ac4c65c434f6 .panel-separator {
  background: url(http://localhost/publiceditor/sites/default/files/ctools/style/_temporary/528fb2951341a608e355ac4c65c434f6/rounded-shadow-bottom-edge.png) repeat-x 0 center;
  font-size: 1px;
  height: 30px;
}
*/
